# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build output
bin/
dist/
tmp/

# Coverage & test artifacts
coverage.out
*.coverprofile

# Dependency management (keep go.sum!)
vendor/

# Logs
*.log

# OS / editor noise
.DS_Store
Thumbs.db
*.swp
*~

# IDEs / Editors
.vscode/
.idea/
*.iml

# misc.
chapter.txt
app